.nave-barC {
	background-color: rgba(15,15,30,0.9);
}





.container {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

.side-bar {
	height: 100%;
}

.project-view {
	float: right;
}

.project-date {
	display: inline-block;
}

.history {
	color: white;
	margin-left: 250px;
}

.project-text {
	margin-left: 20px;
}

.main-more {
	float: right;
}

.search-topic {
	width: 100px;
}

.search-div {
	margin-top: 5px;
}

.thread-img {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.thread-title {
	display: inline-block;
}


.thread-profile-img {
	height: 100%;
	width: 100%;
    border-radius: 50%;
}

